<div>
    {{#each getAllBeers}}

    <div>
        <img height="300px" src="{{image_url}}" alt="{{name}}">
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        <p><span>{{tagline}}</span></p>
    </div>

    {{/each}}
</div>