<div>
  <h1>Holi</h1>
  {{!-- <img
    height='300px'
    src='{{getRandomBeer.image_url}}'
    alt='{{getRandomBeer.name}}'
  />
  <h3>{{getRandomBeer.name}}</h3>
  <p>{{getRandomBeer.description}}</p>
  <p><span>{{getRandomBeer.tagline}}</span></p> --}}
  {{>beerpartial getRandomBeer}}

  <ul>
    {{#each getRandomBeer.food_pairing}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
  <p>{{getRandomBeer.brewers_tips}}</p>

</div>